{erl_opts, [no_debug_info]}.

%% Dependencies
{deps, [{erlangZ21, "0.*", {git, "https://github.com/wfenglund/erlangZ21"}}]}.

{escript_incl_apps, [ercli]}.
{escript_main_app, ercli}.
{escript_name, ercli}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test, [{erl_opts, [debug_info]}]}]}.
